li {
    background-color: salmon;
    margin: 5px;
}
/* li:first-child, li:last-child {
    background-color: seagreen;
} */


/* li:last-child {
    background-color: seagreen;
} */

/* li:nth-child(5), li:nth-child(5) {
    background-color: red;
} */

/* нечетные */
/* li:nth-child(odd) {
    background-color: red;
} */

/* четные */
/* li:nth-child(even) {
    background-color: red;
} */

/* li:nth-child(3n) {
    background-color: red;
} */

/* li:nth-child(2n) {
    background-color: red;
} */

/* li:nth-child(3n+4) {
    background-color: red;
} */

li:nth-child(-2n+7) {
    background-color: red;
}